In [3]:
import pandas as pd

In [ ]:
pd.read_csv('')

In [4]:
import add (1,2)

SyntaxError: invalid syntax (3243030175.py, line 1)

In [5]:
# 변수
a=1
b='python'
c=[1,2,3]

자료형

In [6]:
a=3
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

7
-1
12
0.75
3
0
81

문자열

In [19]:
str1='단어'
str2="ABC"
str3='''
안녕하세요.
제 이름은 전민지입니다.
'''

print(str1 * 3)
print(str1 + str2)
print(str2[0])  #indexing
print(str3[0:7])

단어단어단어
단어ABC
A

안녕하세요.

In [20]:
str3

'\n안녕하세요.\n제 이름은 전민지입니다.\n'

In [14]:
str4='Python Programming'
print(str4[7:19]) # Programming
print(str4[7:]) # Programming
print(str4[:])

Programming
Programming
Python Programming

In [35]:
text1='나는 "전민지"입니다.'
text2="나는 '전민지'입니다."
text3='나는 \'전민지\'입니다'
text4="나는 \n전민지\n입니다"
print(text1)
print(text2)

나는 "전민지"입니다.
나는 '전민지'입니다.

문자열 내장함수 활용하기

In [28]:
a='hobby'
print(a.count('b'))
print(a.find('o'))
print(a.find('k'))
print(a.index('o'))
# print(a.index('k'))
print(','.join(a))
print(a.upper())

2
1
-1
1
h,o,b,b,y
HOBBY

In [29]:
b='Life is too short'
b.replace('Life','Your leg')

'Your leg is too short'

In [30]:
b.split()

['Life', 'is', 'too', 'short']

In [34]:
a2=','.join(a)
a3=a2.split(',')
a4=''.join(a3)
print(a2)
print(a3)
print(a4)

h,o,b,b,y
['h', 'o', 'b', 'b', 'y']
hobby

연습문제(자료형)

In [42]:
#example 1-1
ex1='890724'
print(ex1[:2]+'/'+ex1[2:4]+'/'+ex1[4:])

89/07/24

In [43]:
#example 1-2
ex2='20190603'
print(ex2[:4]+'-'+ex2[4:6]+'-'+ex2[6:])

2019-06-03

In [46]:
#example 1-3
ex3='010-1234-5678'
split_ex3=ex3.split('-')
''.join(split_ex3)

'01012345678'

In [45]:
ex3.replace('-'.'')

SyntaxError: invalid syntax (1399907480.py, line 1)

리스트

In [50]:
list1=[1,2,['life','is','too'],3,4]
list1[2][1]

'is'

In [61]:
list2=[1,2,3,4]
list3=[5,6,7,8]
print(list2 + list3)
print(list2*3)
list2[1]=9   #리스트 값 수정하기
print(list2) 
list3[1:3]=[10,11,12]
print(list3)
list3[1:3]=[]
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 9, 3, 4]
[5, 10, 11, 12, 8]
[5, 12, 8]

In [63]:
del list3[1]    #첫 번째 숫자 삭제

In [64]:
list3

[5, 8]

In [65]:
list3.remove(8)   #항목으로 삭제

In [66]:
list3

[5]

In [67]:
print(list2)
list2.sort()     #리스트 정렬하기(sort)
print(list2)

[1, 9, 3, 4]
[1, 3, 4, 9]

In [69]:
list2.reverse()     #리스트 뒤집기

In [70]:
print(list2)

[9, 4, 3, 1]

In [73]:
list2.index(3)

2

In [74]:
list2.insert(2,10)    #insert(넣어줄 인덱스 위치, 넣을 값)

In [75]:
print(list2)

[9, 4, 10, 3, 1]

In [76]:
list2.append(11)

In [77]:
print(list2)

[9, 4, 10, 3, 1, 11]

In [78]:
list2.pop()  #하나의 변수로 선언하고 값을 제거하고 싶을 때(가장 뒤에 있는 인덱스 값)

11

In [79]:
print(list2)

[9, 4, 10, 3, 1]

튜플

In [80]:
a=(1,2,3,4,5,) #packing
one, two, three=(1,2,3) #unpacking
print(one)
print(two)
print(three)

1
2
3

In [82]:
#a[1]=5  #값 변경 불가능

딕셔너리

In [83]:
dict1={1 : 'a'}
dict1[2]='b'
print(dict1)

{1: 'a', 2: 'b'}

In [84]:
del dict1[1]
print(dict1)

{2: 'b'}

In [86]:
dict1[2]   #key를 이용해 value 얻기
print(dict1.get(2))

b

In [89]:
print(2 in dict1)
print(1 in dict1)

True
False

In [90]:
dict2={'name':'pey','phone':'0123456789','birth':'0904'}
print(dict2.keys())
print(dict2.values())
print(dict2.items())

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '0123456789', '0904'])
dict_items([('name', 'pey'), ('phone', '0123456789'), ('birth', '0904')])

집합

In [91]:
s1=set([1,2,3])
s2={2,3,4,4}   #중복 허용 안됨
print(s1)
print(s2)

{1, 2, 3}
{2, 3, 4}

In [119]:
s1.add(4)
print(s1)
s2.update([5,6,7])
print(s2)
s2.remove(7)
print(s2)

{1, 2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6}

In [112]:
print(s1)
print(s2)
print(s1&s2) #교집합 1
print(s1.intersection(s2)) #교집합 2
print(s1|s2) #합집합 1
print(s1.union(s2)) #합집합 2
print(s1-s2) #차집합 1
print(s1.difference(s2)) #차집합2

{1, 2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 7}
{1, 7}

Boolean

In [121]:
print(1==1)
print(1!=1)

True
False

In [124]:
#example 1-4
dic5={'one':'일','two':'이','three':'삼','four':'사','five':'오'}
A=int(input("값을 입력하시오 : "))
print(A)

ValueError: invalid literal for int() with base 10: 'one'

In [131]:
list5=[1,1,1,1,1,1,2,4,5,6,7,8,9,10]
list5.remove(1)

[1, 1, 1, 1, 1, 2, 4, 5, 6, 7, 8, 9, 10]